<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WWSU Display</title>
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Open Sans -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Pace styling -->
    <style>
      .pace {
        -webkit-pointer-events: none;
        pointer-events: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .pace-inactive {
        display: none;
      }

      .pace .pace-progress {
        background: #29d;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
      }
    </style>

    <!-- Slides styling -->
    <style>
      .scale-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      .scale-content {
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        position: absolute;
      }
    </style>

    <!-- Floating Buttons -->
    <style>
      .floating-buttons {
        position: fixed;
        bottom: 1.25em;
        right: 1.25em;
        z-index: 1032;
      }
    </style>

    <!-- Pace -->
    <script src="/plugins/pace-progress/pace.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Theme style (TODO: use min when it is working again) -->
    <link
      rel="stylesheet"
      href="/plugins/adminlte/css/adminlte.css?v=202309282334"
    />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>

    <!-- jQuery UI -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/plugins/jquery-ui/jquery-ui.min.css" />

    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/jquery.blockUI.js"></script>
    <!-- JQuery Marquee -->
    <script src="/plugins/marquee/js/marquee.js"></script>

    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap multipleselect -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css"
    />
    <script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <!-- AdminLTE -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>

    <!-- lodash -->
    <script src="/plugins/lodash/lodash.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffydb/taffy-min.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment timezone -->
    <script src="/plugins/moment-timezone/moment-timezone-with-data.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/moment-duration-format.js"></script>
    <!-- Moment Recur -->
    <script src="/plugins/moment-recur-ts/moment-recur-ts.min.js"></script>
    <!-- Jdenticon -->
    <script src="/plugins/jdenticon/jdenticon.min.js"></script>
    <!-- Howler -->
    <script src="/plugins/howler/howler.min.js"></script>

    <!-- Bootstrap Slider -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-slider/css/bootstrap-slider.min.css"
    />
    <script src="/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- Chart.js -->
    <script src="/plugins/chart.js/chart.umd.js"></script>

    <!-- TinyMCE -->
    <script src="/plugins/tinymce/tinymce.min.js"></script>

    <!-- Datatables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="/plugins/datatables-details/css/datatables-details.css"
    />

    <!-- Datatables Responsive -->
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
    />

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css" />
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!--FullCalendar-->
    <script src="/plugins/fullcalendar/main.js"></script>
    <link rel="stylesheet" href="/plugins/fullcalendar/main.min.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/animate/css/animate.css" />

    <!-- Bugs -->
    <script src="/plugins/bug/bug-min.js"></script>

    <!-- Halloween Bats -->
    <script src="/plugins/jquery-halloween-bats/halloween-bats.js"></script>

    <!-- Discord Markdown -->
    <script
      defer
      src="/plugins/discord-markdown/discord-markdown.min.js"
    ></script>

    <!--WWSU-->
    <script
      src="/plugins/sails.io/sails.io.js"
      autoConnect="false"
      environment="production"
      reconnection="true"
    ></script>
    <script src="/plugins/wwsu-modules/js/wwsu-modules.js?t=202309282334"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?t=202309282334"></script>
    <script src="/plugins/wwsu-onerror/js/wwsu-onerror.js?t=202309282334"></script>
    <script src="/plugins/wwsu-config/js/wwsu-config.js?t=202309282334"></script>
    <script src="/plugins/wwsu-meta/js/wwsu-meta.js?t=202309282334"></script>
    <script src="/plugins/wwsu-climacell/js/wwsu-climacell.js?t=202309282334"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?t=202309282334"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-class.js?t=202309282334"></script>
    <script src="/plugins/wwsu-announcements/js/wwsu-announcements.js?t=202309282334"></script>
    <script src="/plugins/wwsu-directors/js/wwsu-directors.js?t=202309282334"></script>
    <script src="/plugins/wwsu-eas/js/wwsu-eas.js?t=202309282334"></script>
    <script src="/plugins/wwsu-recipients/js/wwsu-recipients-web.js?t=202309282334"></script>
    <script src="/plugins/wwsu-messages/js/wwsu-messages-web.js?t=202309282334"></script>
    <script src="/plugins/wwsu-status/js/wwsu-status.js?t=202309282334"></script>
    <script src="/plugins/wwsu-shootout/js/wwsu-shootout.js?t=202309282334"></script>
    <script src="/plugins/wwsu-display/js/wwsu-slides.js?t=202309282334"></script>
    <script src="/plugins/wwsu-clocks/js/wwsu-clocks.js?t=202309282334"></script>
    <script src="/plugins/wwsu-holidays/wwsu-halloween/js/wwsu-halloween.js?t=202309282334"></script>
    <script src="/plugins/wwsu-rss/js/wwsu-rss.js?t=202309282334"></script>
    <link
      rel="stylesheet"
      href="/plugins/wwsu-navigation/css/wwsu-navigation-flash.css"
    />
    <link rel="stylesheet" href="/plugins/wwsu-clocks/css/wwsu-clocks.css" />
    <link
      rel="stylesheet"
      href="/plugins/wwsu-climacell/css/wwsu-climacell.css"
    />

    <!-- WWSU Christmas Effects -->
    <script src="/plugins/puresnow/PureSnow.js?t=202309282334"></script>
    <link rel="stylesheet" href="/plugins/puresnow/PureSnow.css" />
    <script src="/plugins/bokeh/js/bokeh.js?t=202309282334"></script>
    <link rel="stylesheet" href="/plugins/bokeh/css/bokeh.css" />
    <link
      rel="stylesheet"
      href="/plugins/wwsu-holidays/wwsu-christmas/css/wwsu-christmas.css"
    />
    <script src="/plugins/wwsu-holidays/wwsu-christmas/js/wwsu-christmas.js?t=202309282334"></script>
  </head>

  <%- body %>

  <!-- Floating buttons -->
  <div class="floating-buttons">
    <div class="alert alert-info" id="modules-loading">
      Loading data from WWSU...
    </div>
    <div class="alert alert-info d-none" id="dom-loading">
      Refreshing web content...
    </div>
  </div>
</html>
