<script>
  window.wwsuNavigationCallback = (modules) => {
    modules
      .get("WWSUNavigation")
      .processMenu("#nav-blogs<% if (category) { %>-<%= category %><% } else { %>-all<% } %>");
  };
</script>
