<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WWSU DJ Panel</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/fontawesome.min.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <link href="../../plugins/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="../../plugins/iziToast/js/iziToast.min.js"></script>
    <script src="../../plugins/iziModal/js/iziModal.min.js"></script>
    <script src="../../plugins/taffy/js/taffy-min.js"></script>
    <script src="../../plugins/d3/js/d3.min.js"></script>
    <script src="../../plugins/taucharts/js/taucharts.min.js"></script>
    <script src="../../plugins/moment/moment.min.js"></script>
    <script src="../../plugins/moment-duration-format/js/moment-duration-format.js"></script>
    <script type="text/javascript" src="../../plugins/sails.io/sails.io.js"></script>
    <script src="../../plugins/jdenticon/js/jdenticon.min.js"></script>
    <script src="../../plugins/underscore/js/underscore-min.js"></script>
    <script src="../../plugins/wwsu-sails/js/wwsu.js"></script>
    <script src="../../plugins/fontawesome/js/fontawesome.js"></script>
    <script src="../../plugins/wwsu-calendar/js/wwsu-calendar-web.js"></script>
    <link rel="stylesheet" href="../../plugins/iziToast/css/iziToast.min.css">
    <link rel="stylesheet" href="../../../plugins/iziModal/css/iziModal.min.css">
    <link rel="stylesheet" href="../../../plugins/animate/css/animate.css">
    <link rel="stylesheet" href="../../../plugins/taucharts/css/taucharts.min.css">

    <!--Datatables-->
    <script src="../../plugins/datatables/jquery-dataTables.min.js"></script>

    <!--Datatables Buttons-->
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="../../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!--Datatables Fixed Header-->
    <script src="../../plugins/datatables-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../../plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="../../../plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css">

    <!--Datatables Responsive-->
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <!-- TODO: Change to WWSU logo -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" id="menu-home" onclick="activateMenu('menu-home')">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">WWSU</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active" id="menu-dashboard" onclick="activateMenu('menu-dashboard')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Analytics
            </div>

            <li class="nav-item" id="menu-analytics" onclick="activateMenu('menu-analytics')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Analytics and Logs</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Show Actions
            </div>

            <li class="nav-item" id="menu-signup" style="display: none;" onclick="activateMenu('menu-signup')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-file-alt"></i>
                    <span>Sign-up a Show</span></a>
            </li>

            <li class="nav-item" id="menu-clockwheel" onclick="activateMenu('menu-clockwheel')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-clock"></i>
                    <span>Topics / Clockwheels</span></a>
            </li>

            <li class="nav-item" id="menu-cancel" onclick="activateMenu('menu-cancel')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-calendar-times"></i>
                    <span>Cancel an Episode</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Station Actions
            </div>

            <li class="nav-item" id="menu-production">
                <a class="nav-link"
                    href="https://calendar.google.com/calendar/selfsched?sstoken=UUR3RTJkZGpuMl96fGRlZmF1bHR8ODhiYjVmNjI3OGUzOGU0OTQ0ZjUyYTQwYzg2Njc1NGE"
                    target="_blank">
                    <i class="fas fa-fw fa-guitar"></i>
                    <span>Book Production Studio</span></a>
            </li>

            <li class="nav-item" id="menu-onair">
                <a class="nav-link"
                    href="https://calendar.google.com/calendar/selfsched?sstoken=UUxRaG1nOEs5d0xTfGRlZmF1bHR8ZWU5YmU4MzBjYTRjYTg2Njk5NTViODkyNWNjMDM3MDM"
                    target="_blank">
                    <i class="fas fa-fw fa-microphone"></i>
                    <span>Book On-Air Studio</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="dj-name">???</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <%- body %>
            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="dj-logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../plugins/jquery-easing/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../plugins/sbadmin/js/sb-admin-2.min.js"></script>

    <script src="../../plugins/wwsu-djpanel/panel.js?t=<%= timestamp %>" defer></script>
</body>

</html>